@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(131, 84, 84, 0.87);
  background-color: #6E7F99;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.new {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(131, 84, 84, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="range"]::-webkit-slider-thumb {
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} 
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width:100%;
  min-height: 100vh;
  font-family: 'Poppins', PT Serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.register-link:focus {
  outline: none;
}

.custom-scrollbar {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: #d1a97a transparent;  /* thumb, track */
}
.custom-scrollbar::-webkit-scrollbar {    /* WebKit */
  height: 6px;                            /* thickness */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1a97a;              /* match your palette */
  border-radius: 9999px;
}

button.map-pin-button {
  all: unset;
  cursor: pointer;
}

.mapboxgl-popup-close-button {
  font-size: 12px !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  line-height: 20px !important;
  border: none !important;
  background: transparent !important;
  color: #333 !important;
  box-shadow: none !important;
}

button.star-button {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  padding: 0;
}

button.star-button:focus,
button.star-button:focus-visible,
button.star-button:hover {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Hide scrollbar on ALL browsers */
.no-scrollbar {
  -ms-overflow-style: none !important; 
  scrollbar-width: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;  
}
